<%- include("partials/header")  %>
<div class="container my-5">
    <div class="row text-center border-top border-bottom border-dark">
        <form action="" method="post"></form>
            <div class="col-12">
               <h1>Login</h1>
            </div>
            <div class="col-12 mt-3">
               <label for="usuario">Usuario</label>
               <input class="form-control w-50 mx-auto" type="text" name="usuario" id="usuario">
            </div>
            <div class="col-12 mb-2">
                <label for="password">Contraseña</label>
                <input class="form-control w-50 mx-auto" type="password" name="password" id="password">
            </div>
            <div class="col-6 text-right">
                <a href="#" >Olvide mi Contraseña</a>
            </div>
            <div class="col-6 text-left">
                <a href="/users/register">Crear usuario nuevo</a>
            </div>
            <div class="col-12 text-center">
                <a href="/users/:id"><button class="btn btn-primary my-4" type="submit">Ingresar</button></a>
            </div>
       </form>
    </div>
</div>
<%- include("partials/footer") %>
