<%- include("partials/header")  %>
<section class="cart-section">
    <div class="card" class="container row col-md-12">
        <div class="cart-table justify-content-center mx-auto">
            <h3>Tus Compras</h3>
            <div class="cart-table-warp">
                <table>
                    <thead>
                        <tr>
                            <th class="producto-th">Producto</th>
                            <th class="cantidad-th">Cantidad</th>
                            <th class="precio-th">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="product-col">
                                <img class="thumb" src="public/img/costeletas.jpeg" alt="">
                                <div class="title">
                                    <h4>Costeletas Cerdo</h4>
                                    <p>$25.90</p>
                                </div>
                            </td>
                            <td class="cantidad-col">
                                <div class="cantidad">
                                    <div class="pro-cant">
                                        <input type="text" value="1">
                                    </div>
                                </div>
                            </td>
                            <td class="total-col">
                                <h4>$25.90</h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="product-col">
                                <img class="thumb" src="public/img/Chuleton.png" alt="">
                                <div class="title">
                                    <h4>Chuleton</h4>
                                    <p>$45.90</p>
                                </div>
                            </td>
                            <td class="cantidad-col">
                                <div class="cantidad">
                                    <div class="pro-cant">
                                        <input type="text" value="1">
                                    </div>
                                </div>
                            </td>
                            <td class="total-col">
                                <h4>$45.90</h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="product-col">
                                <img class="thumb" src="public/img/elegida17.jpg" alt="">
                                <div class="title">
                                    <h4>Vacio</h4>
                                    <p>$55.90</p>
                                </div>
                            </td>
                            <td class="cantidad-col">
                                <div class="cantidad">
                                    <div class="pro-cant">
                                        <input type="text" value="1">
                                    </div>
                                </div>
                            </td>
                            <td class="total-col">
                                <h4>$55.90</h4>
                            </td>
                        </tr>
         
                    </tbody>
                </table>
            </div>
            <div class="total-cost">
                <h6>Total <span>$</span></h6>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer") %>