<%- include("partials/header")  %>
<div class="row my-5">
    <div class="col-12">
        <h1>Categoria Ternera</h1>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-4 mx-auto justify-content-between">
    <div class="col mb-4">
        <div class="card">
            <img src="/img/elegida17.jpg" class="card-img-top" alt="Vacio">
            <div class="card-body">
                <h5 class="card-title">Vacio</h5>
                <p class="card-text">Vacio de Ternera</p>
            </div>
            <a class="btn btn-primary" href="/carrito-venta" role="button">Agregar al carrito</a>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="/img/img_12921.jpg" class="card-img-top" alt="Chuleta">
            <div class="card-body">
                <h5 class="card-title">Chuleta</h5>
                <p class="card-text">Chuleta de Ternera</p>
            </div>
            <a class="btn btn-primary" href="/carrito-venta" role="button">Agregar al carrito</a>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="/img/images.jpeg" class="card-img-top" alt="matambre">
            <div class="card-body">
                <h5 class="card-title">Matambre</h5>
                <p class="card-text">Matambre de Ternera</p>
            </div>
            <a class="btn btn-primary" href="/carrito-venta" role="button">Agregar al carrito</a>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="/img/unnamed.jpg" class="card-img-top" alt="Bife">
            <div class="card-body">
                <h5 class="card-title">Bife</h5>
                <p class="card-text">Bife de Ternera</p>
            </div>
            <a class="btn btn-primary" href="/carrito-venta" role="button">Agregar al carrito</a>
        </div>
    </div>
</div>

<%- include("partials/footer") %>