<%- include("partials/header")  %>

<div class="container">
    <div class="encabezado-formulario mb-5" class="row">
        <div class="col-12 d-flex justify-content-center border-top border-dark pt-3 my-5">
            <h1 class="text-uppercase" >Formulario de registro</h1></div>
        <div class="alert alert-primary" role="alert" class="col-12 d-flex justify-content-center">
            <p class="text-center mb-0">Una vez registrado podra utilizar nuestro carrito de compras exclusivo para clientes y acceder a las ofertas.</p>
        </div>
    </div>
<form>
    <div class="container-fluid my-5 border-bottom border-dark">
        <div class="form-group justify-content-center row">
            <label for="inputName" class="col-sm-3 col-form-label">Nombre: *</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="inputName" required>
            </div>
          </div>
          <div class="form-group justify-content-center row">
            <label for="inputApellido" class="col-sm-3 col-form-label">Apellido: *</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="inputApellido" required>
            </div>
          </div>
          <div class="form-group justify-content-center row">
            <label for="inputEmail" class="col-sm-3 col-form-label">E-mail: *</label>
            <div class="col-sm-7">
              <input type="email" class="form-control" id="inputEmail" required>
            </div>
          </div>
        <div class="form-group justify-content-center row">
            <label for="inputContraseña" class="col-sm-3 col-form-label">Contraseña: *</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="inputContraseña" placeholder="Solo letras y numeros" required pattern="[A-Za-z0-9]+ maxlength="15" required>
            </div>
          </div>
        <div class="form-group justify-content-center row">
            <label for="inputConfirmarContraseña" class="col-sm-3 col-form-label">Confirmar Contraseña: *</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="inputConfirmarContraseña" required>
            </div>
          </div>
          <div class="form-group justify-content-center row">
            <label for="inputDireccion" class="col-sm-3 col-form-label">Direccion: </label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="inputDireccion">
            </div>
          </div>
          <div class="form-group justify-content-center row">
            <label for="inputLocalidad" class="col-sm-3 col-form-label">Localidad: </label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="inputLocalidad">
            </div>
          </div>
          <div class="form-group justify-content-center row">
            <label for="inputProvincia" class="col-sm-3 col-form-label">Provincia: </label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="inputProvincia">
            </div>
          </div>
        <div class="form-group justify-content-center row">
             <button type="submit" class="btn btn-primary my-5">Enviar</button>
        </div>
    </div>
  </form>
</div>

<%- include("partials/footer") %>
