*{
    box-sizing: border-box;

}
nav ul li, nav ul li a{
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: auto;
    color: black;
}
.nav-item:hover{
    background-color: grey;
    color: white;
    text-decoration: none;
}

div.seccionprincipal {
    padding: 0px;
    margin-top: 3px;
    height: auto;
    width: 33%;
}
.img-fluid{
    height:100%;
    width: 100%;
}
#logo-menu {
    width: 40%;
}

footer, footer li{
    color: white;
    font-weight: lighter;
    background-color: black;
}
.copyright{
    color: white;
    font-family: Helvetica;
    font-weight: lighter;
}
.btn-primary {
    background-color: black;
    border-color: white;
}
.card-img-top {
   width: 100%;
   height: 200px;
   object-fit: cover;
   margin: auto;
   padding-top: 1px;

}
.total-cost {
    background-color: khaki;
}
.thumb {
    width: 75px;
    height: auto;
}
.imagen-productDetail {
    max-width: 75%;
    max-height: 75%;
}
