<footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-2 mb-1">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4">PEDIDOS ONLINE</h5>
          <p>Ingresá tus datos, seleccioná tus cortes favoritos y listo. ¡Pedir delivery en una carniceria nunca había sido tan sencillo, con MeatMe lo único difícil será decidir qué comer!</p>
          
          <a href="/users/register"><button id="btn-registrarse" type="button" class="btn btn-blue-grey btn-light">REGISTRARSE</button></a>
          
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">SECCIONES</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <a class="copyright" href="/">INICIO</a>
              </p>
            </li>
            <li>
              <p>
                <a class="copyright" href="/empresa">EMPRESA</a>
              </p>
            </li>
            <li>
              <p>
                <a class="copyright" href="/product">PRODUCTOS</a>
              </p>
            </li>
            <li>
              <p>
                <a class="copyright" href="/recetas">RECETAS</a>
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">CONTACTOS</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fas fa-home mr-3"></i> Pellegrini 1548, Rosario</p>
            </li>
            <li>
              <p>
                <i class="fas fa-envelope mr-3"></i> info@meatme.com.ar</p>
            </li>
            <li>
              <p>
                <i class="fab fa-lg fa-whatsapp mr-3"></i> +5493417343448</p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone mr-3"></i> 0341-4248787</p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-1 col-lg-1 text-center mx-auto my-4">
  
          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">SEGUINOS</h5>
  
          <!-- Facebook -->
          <a class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
          <!-- Instagram +-->
          <a class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>
            <!-- Twitter -->
          <a class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>

        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  <!-- Copyright -->
  <div class="footer-copyright text-center">© 2020 Copyright:
    <a id="copyright" href="/">Meat Me</a>
  </div>
  <!-- Copyright -->
    </div>
    <!-- Footer Links -->
  </footer>
  <!-- Footer -->
        </div>
    </body>
</html>